*{
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
    background-image: url('./pictures/pizza-back.jpg');
    text-align: center;
}


.container{
  max-width: 80%;
  height: 200rem;
  margin: 0 auto 0 auto;
  text-align: center;

}

.welcome{
  display: block;
  max-width: 80%;
  height: 15rem;
  margin: 12rem auto 5rem auto;
  color: white;
  font-size: 6rem;
  font-family: 'Rowdies', cursive;

  filter: drop-shadow(4px 4px 6px black);
}


.intro-text{
  color: white;
  text-align: left;
  font-size: 2rem;
  background-color: black;
  margin: 2rem auto 4rem auto;
  max-width: 70%;
  padding: 1rem;
}

.pizza-video{
  width: 1000px;
  height: 560px;
  border: 2px solid white;
  margin: 2rem auto 2rem auto;
}

.did-you-know{
  color: white;
  text-align: left;
  font-size: 2rem;
  background-color: black;
  margin: 2rem auto 4rem auto;
  padding: 1rem;
  max-width: 70%;
}
