*{
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
    background-image: url('./pictures/pizza-back.jpg');
    text-align: center;
}


.container{
  max-width: 80%;
  height: 200rem;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome{
  display: block;
  max-width: 80%;
  height: 15rem;
  margin: 5rem auto 5rem auto;
  color: white;
  font-size: 6rem;
  font-family: 'Rowdies', cursive;

  filter: drop-shadow(4px 4px 6px black);
}


.intro-text{
  color: white;
  text-align: left;
  font-size: 2rem;
  background-color: black;
  margin: 2rem auto 2rem auto;
}

.pizza-video{
  width: 1000px;
  height: 560px;
  border: 2px solid white;
  margin: 2rem auto 2rem auto;
}
